/* * Header aside */

aside {
	height: 100vh;
	width: 8%;
	margin: 0px 20px;
	padding: 20px;
	float: left;
}

.container-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	border: solid white 2px;
	background-color: rgba(77, 73, 73, 1);
	border-radius: 20px;
}

/* * Figures images */

.container-link {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.container-link-bottom {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* * Image navigation */

#link-1 {
	width: 64px;
	border-radius: 10px;
	transition: ease-in 150ms;
}
#link-1:hover {
	box-shadow: rgb(255, 255, 255) 0px 3px 8px;
	transition: ease-in 150ms;
}
#link-2 {
	width: 64px;
	border-radius: 10px;
	transition: ease-in 150ms;
}
#link-2:hover {
	box-shadow: rgb(255, 255, 255) 0px 3px 8px;
	transition: ease-in 150ms;
}
#link-3 {
	width: 64px;
	border-radius: 10px;
	transition: ease-in 150ms;
}
#link-3:hover {
	box-shadow: rgb(255, 255, 255) 0px 3px 8px;
	transition: ease-in 150ms;
	border-radius: 50px;
}
#link-4 {
	width: 64px;
	border-radius: 10px;
	transition: ease-in 150ms;
}
#link-4:hover {
	box-shadow: rgb(255, 255, 255) 0px 3px 8px;
	transition: ease-in 150ms;
}
#link-5 {
	width: 64px;
	border-radius: 10px;
	transition: ease-in 150ms;
}
#link-5:hover {
	box-shadow: rgb(255, 255, 255) 0px 3px 8px;
	transition: ease-in 150ms;
	border-radius: 50px 30px 50px 50px;
}
